<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About me in HTML</title>
    <link rel="stylesheet" href="html.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Pangolin'>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Sansita'>
	
</head>
<body>
	<h1>About me in html</h1>
    <h2>My info</h2>
    
	<div>
		
        <h3>Name<br></h3>
        wanting<br>
        
        <h3>Sex</h3><br>
        female<br>
        <h3>School:</h3><br>
        彰師大<br>
        <h3>Hobby</h3><br>
        唱歌, 彈吉他, 聊天<br>
        <h3>Dream</h3><br>
        前端工程師<br>
        <h3>I want to learn</h3><br>
        不知道接下來是否有Angular,希望講師講新的東西時，能簡單解釋一下每行程式碼的作用，譬如這次講師有講述一下用法跟方式，所以很清楚明白何時該使用
        
    </div>
	
</body>
</html>