doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title=title
    link(rel='stylesheet', href='/example.css')
    style(type='text/css').
      h1{
        background-color: pink
      }
  body
    h1=week2 Homework: Express2
    
    section
      h3 Here is code block test.
      =html
      !=html
    section
      h2(style='padding: 10px; margin: 10px') Self Intro
      | Name: 
      =person.name
      br
      br
      | I like cats.
      br
      ul
        for cats in cats
          li=cats