doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title=title
    link(rel='stylesheet', href='/example.css')
    style(type='text/css').
      h2{
        background-color: purple
      }
  body
    h1=title
    section
      h3(style='background-color: green') User info
      | Name: 
      =me.name
      hr
      | Hobby:
      =me.hobby
      hr
      | Like heros:
      ul
        for fruit in heros
          li.hero=fruit
      hr
    section
      h3 Compile html code
      =html
      !=html
