<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WET Homework 2</title>
	<link rel="stylesheet" href="../assets/example.css">
</head>
<body>
	<h1>week2 Homework: Express2</h1>
	<section class=pre-code>
		<h3>Here is code block test.</h3>
		<p style='font-family:Courier New'>This is html code.</p>  
		<h3>Compile html code</h3>
		&lt;h2&gt; This is html code &lt;/h2&gt;
	</section>
	<section>
		<h2>Self Intro</h2>
		<p class=block>
			Name: Nico<br><br>
			I Like cats.<br>
		</p>
		<ul>
		  <li><a href="https://upload.wikimedia.org/wikipedia/en/thumb/b/bc/Garfield_the_Cat.svg/1280px-Garfield_the_Cat.svg.png"s/>Cat.1: Garfield</li>
		  <li><a href="https://upload.wikimedia.org/wikipedia/bar/thumb/2/27/Hello_Kitty_logo.svg/2000px-Hello_Kitty_logo.svg.png"/>Cat.2: Hello Kitty</li>
		  <li><a href="http://vignette1.wikia.nocookie.net/tomandjerrykidsshow/images/9/9f/Tom_2.png/revision/latest?cb=20131227002541"/>Cat.3: Tom</li>
		</ul>
	</section>	
</body>
</html>