doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title=title
    link(rel='stylesheet', href='/example.css')
    style(type='text/css').
      h1{
        background-color: skyblue
      }
  body
    h1=title
    section
      h2(style='background-color: green') User info
      | Name: 
      =person.name
      br
      | Hobby:
      =person.hobby
      br
      | Like fruits
      br
      ul
        for fruit in fruits
          li=fruit
    section
      h2 Compile html code
      =html
      !=html
