<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Template example</title>
	<link rel="stylesheet" href="../assets/example.css">
	<style type="text/css">
		h1{
			background-color: skyblue
		}
	</style>
</head>
<body>
	<h1>Html</h1>
	<section>
		<h2 style='background-color: green'>User info</h2>
		Name: Johnny<br>
		Hobby: Play Computer Games<br>
		Like fruits<br>
		<ul>
			<li>Mango</li>
			<li>Banana</li>
		</ul>
	</section>
	<section>
		<h2>Compile html code</h2>
		&lt;h2&gt;This is html code&lt;/h2&gt;
		<h2>This is html code</h2>
	</section>
</body>
</html>