<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/index.css">
</head>
<body>
	<h1 id="title"><%= title %></h1>
	<section>
		<h2>User info</h2>
		<p>My name is <%= aboutme.name %></p>
		<h2>About me</h2>
		<br/>
		<ul>
			<li>My favorite sports :<%= aboutme.favorite.sports%></li>
			<li>My hobby:<%=aboutme.favorite.hobby%></li>
		</ul>
	</section>
</body>
</html>
